{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>
        {% block title %}
        Flying Fox
        {% endblock %}
    </title>


    <link
        rel="stylesheet"
        href="{% static 'frontend/css/base.css' %}"
    >


    {% block extra_css %}
    {% endblock %}

</head>


<body>


<header class="main-header">

    <div class="navbar-container">


        <button class="menu-btn">
            <span></span>
            <span></span>
        </button>


        <a
            href="{% url 'home' %}"
            class="site-logo"
        >
            FLYING FOX
        </a>


        <a
            href="#"
            class="book-now-btn"
        >
            BOOK NOW
        </a>


    </div>

</header>



<main>

    {% block content %}
    {% endblock %}

</main>



{% block extra_js %}
{% endblock %}


</body>

</html>